<ion-content>
  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-title class="a">Profile</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card-header>
      <div class="image">
        <img src="./assets/amitpic.png" alt="profile picture">
      </div>
      <ion-card-title color="success" class="flex-center">AMIT MANOHAR RATHOD</ion-card-title>
      <ion-card-subtitle class="flex-center">STUDENT</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="flex-center">
      To obtain a challenging position to the best utilization of my skills and looking for opportunities to grow my
      technical and managerial skills, I could enhance my strength and skill with the institution's goals and achieve
      excellence through my fresher levels.
    </ion-card-content> 
    

    <div class="ion-padding">
      
      <ion-icon name="logo-linkedin" size="large"></ion-icon>
      <ion-icon name="logo-github" size="large"></ion-icon>
      <ion-icon name="mail-outline" size="large"></ion-icon>
      <ion-icon name="logo-facebook" size="large"></ion-icon>
    </div>



    <ion-footer>
      <ion-toolbar>
        <ion-menu-button></ion-menu-button>
        <!-- <ion-button  class="ion-padding" expand="block" color="secondary" size="full" fill="clear">DELETE</ion-button> -->
        <ion-app>
          <ion-menu  content-id="main-content">
            <ion-content>
              <ion-list>
                <ion-item>
                  <ion-icon name="trash" slot="start"></ion-icon>
                  <ion-label>Trash</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ion-menu>
    
          <div class="ion-page" id="main-content">
            <ion-footer>
              <ion-toolbar>
                <ion-buttons slot="start" >
                  <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title class="ion-padding" expand="block" color="secondary" size="full" fill="clear">Delete</ion-title>
              </ion-toolbar>
            </ion-footer>
          </div>
        </ion-app>
      </ion-toolbar>
    </ion-footer> 
  </ion-card> 

  

</ion-content>